.section {
  .desktop &,
  .tablet & {
    position: fixed;
    box-shadow: 0 0 100px 0 RGBA(130,29,19,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    padding: 10px;
    transform: translate3d(0,-100%,0);
    //transition: transform 0.7s ease 0s;
    &.current {
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
      transform: translate3d(0,0,0);
      & ~ .section {
        transform: translate3d(0,100%,0);
      }
    }
    &.next {
      //transform: translate3d(0,100%,0);
      z-index: 2;
      opacity: 0;
      &.to_current {
        opacity: 1;
        pointer-events: auto;
        transition: transform 0.7s ease 0s;
        transform: translate3d(0,0,0);
        will-change: transform;
      }
    }
    &.prev {
      z-index: 2;
      //transform: translate3d(0,-100%,0);
      opacity: 0;
      &.to_current {
        opacity: 1;
        pointer-events: auto;
        transition: transform 0.7s ease 0s;
        transform: translate3d(0,0,0);
        will-change: transform;
      }
    }
    //&.to_current {
    //  opacity: 1;
    //  pointer-events: auto;
    //  transition: transform 0.7s ease 0s;
    //  transform: translate3d(0,0,0);
    //  will-change: transform;
    //}
    &.scale {
      transition: transform 0.7s ease 0s;
      transform: scale(0.8) translate3d(0,0,0);
      will-change: transform;
    }
  }
  .mobile & {
    flex-direction: column;
  }
  position: relative;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: scale(1) translate3d(0,0,0);
  will-change: transform;

}

@import "sections/section01";
@import "sections/section02";
@import "sections/section03";
@import "sections/section05";
@import "sections/section08";
@import "sections/section09";
@import "sections/section12";
@import "sections/section13";


