.section {
  .desktop:not(.Mac) &,
  .tablet & {
    position: fixed;
    box-shadow: 0 0 100px 0 RGBA(130,29,19,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    padding: 10px;
    &.current {
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
    }
    &.next {
      transform: translateY(100%);
      z-index: 2;
      &.to_current {
        opacity: 1;
        pointer-events: auto;
        transition: transform 0.7s ease 0s;
        transform: translate3d(0,0,0);
        will-change: transform;
      }
    }
    &.prev {
      z-index: 2;
      transform: translateY(-100%);
      &.to_current {
        opacity: 1;
        pointer-events: auto;
        transition: transform 0.7s ease 0s;
        transform: translate3d(0,0,0);
        will-change: transform;
      }
    }
    &.scale {
      transition: transform 0.7s ease 0s;
      transform: scale(0.8) translate3d(0,0,0);
      will-change: transform;
    }
  }
  .mobile & {
    flex-direction: column;
  }
  position: relative;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transform: scale(1) translate3d(0,0,0);
  will-change: transform;


  .desktop.Mac & {
    position: absolute;
    box-shadow: 0 0 100px 0 RGBA(130,29,19,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    padding: 10px;
    //will-change: transform;
    will-change: opacity;
    transition: transform 0.7s ease 0.1s;
    //transform: translate3d(0,-200%,0);
    //&.mac_prev {
    //  transform: translate3d(0,-100%,0);
    //  opacity: 1;
    //}
    &.mac_current {
      //transform: translate3d(0,0,0);
      opacity: 1;
      z-index: 5;

      &.mac_top {
        transform: translate3d(0,-100%,0);
      }
      &.mac_bottom {
        transform: translate3d(0,100%,0);
      }
    }
    &.mac_next {
      //transform: translate3d(0,100%,0);
      opacity: 1;
      //z-index: 1;
      //& ~ .section {
      //  transform: translate3d(0,200%,0);
      //}
    }



  }

}

@import "sections/section01";
@import "sections/section02";
@import "sections/section03";
@import "sections/section05";
@import "sections/section08";
@import "sections/section09";
@import "sections/section12";
@import "sections/section13";


