.text {
  line-height: 1.5;
  @include desktop-fonts(font-size,1.9vh,1.3vw,20rem);
  @include tablet-fonts(font-size,14rem,14rem);
  p {
    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
  &.columns {
    .desktop &,
    .tablet & {
      columns: 2 auto;
      column-gap: 3vw;
    }
  }
  ul {
    li {
      padding-left: 1.6vw;
      position: relative;
      margin-bottom: 5px;
      &:before {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $head;
        position: absolute;
        top: 1.4vh;
        left: 0;
      }
    }
  }
}