.situation-table {
  width: 100%;
  box-sizing: border-box;
  padding-left: 26%;
  padding-right: 5%;
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: none;
    @include media(screen,1200){
      table-layout: fixed;
    }
    @include desktop-fonts(font-size,2.1vh,1.1vw,20rem);
    @include tablet-fonts(font-size,11rem,11rem);
  }

  thead {
    width: 100%;
    tr {
      width: 100%;
      vertical-align: top;
      text-transform: uppercase;
    }
    th {
      box-sizing: border-box;
      padding: 1vh 0 1vh 4%;
    }
  }
  tbody {
    tr {
      border-top: 1px solid $text;
    }
    td {
      box-sizing: border-box;

      &.head{
        width: 22%;
      }
      &:not(.head){
        width: 26%;
        padding: 0 0 0 4%;
        font-family: Helvetica-Black;
        line-height: 1;
        @include desktop-fonts(font-size,3.7vh,1.7vw,26rem);
      }
    }
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid $text;
        }
      }
    }
  }
  .head {
    & > div {
      display: block;
      background-color: #f2f2ef;
      box-sizing: border-box;
      padding: 2.2vh 0 2.2vh 10%;
      position: relative;
    }
  }
}